{% extends 'base.html.twig' %}

{% block title %}Piece index{% endblock %}

{% block main %}
    <h1>Piece index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Acquired</th>
                <th>Era</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.name }}</td>
                <td>{{ piece.description }}</td>
                <td>{{ piece.type }}</td>
                <td>{{ piece.acquired ? piece.acquired|date('Y-m-d') : '' }}</td>
                <td>{{ piece.era }}</td>
                <td>
                    <a href="{{ path('app_piece_show', {'id': piece.id}) }}">show</a>
                    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_piece_new') }}">Create new</a>
{% endblock %}
